<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Task</title>
    <link rel="stylesheet" href="/styletwo.css">
</head>
<body>

    <h1>Edit Your Task</h1>

    <form method="POST" action="/task/<%= taskid.id %>?_method=PATCH">
        <label>Title:</label>
        <input type="text" name="description" value="<%= taskid.description %>"><br>
        <label>Date:</label>
        <input type="date" name="date" value="<%= taskid.date %>"><br>

        <label>Status:</label>
    
        <select name="status">
    <option value="pending" <%= taskid.status === "pending" ? "selected" : "" %>>Pending</option>
    <option value="in-progress" <%= taskid.status === "in-progress" ? "selected" : "" %>>In Progress</option>
    <option value="completed" <%= taskid.status === "completed" ? "selected" : "" %>>Completed</option>
</select>
 <br>
  <button type="submit" class="update">Update Task</button>
    </form>
 
</body>
</html>